<!-- views/404.ejs -->
<div class="max-w-6xl mx-auto px-4 pb-20 pt-15 flex flex-col md:flex-row items-center gap-10">
  <!-- Gambar -->
  <div class="w-full md:w-1/2">
    <img src="/img/oops-404.png" alt="error" class="w-[50%] md:w-full h-auto max-w-md mx-auto dark:invert drop-shadow-[0_0_25px_rgba(255,255,0,0.6)]
" />
  </div>

  <!-- Konten -->
  <div class="w-full md:w-1/2 text-center md:text-left">
    <h1 class="text-7xl md:text-9xl font-bold text-red-500"><%= code %></h1>
    <p class="text-xl md:text-3xl text-gray-700 dark:text-gray-200 mt-4">Oops! Halaman tidak ditemukan.</p>
    <p class="mt-2 text-gray-500 dark:text-gray-300"><%= message %></p>
    <a href="/" class="mt-6 inline-block px-6 py-3 bg-secondary text-primary  dark:bg-blue-600 dark:text-white rounded-lg shadow dark:hover:bg-blue-700 transition">
      Kembali ke Beranda
    </a>
  </div>
</div>
