<!-- HERO SECTION -->
<section
  class="bg-[url('/img/bg.jpg')] bg-center bg-no-repeat bg-cover bg-gray-700 bg-blend-multiply w-full overflow-hidden bg-cover bg-center"
>
  <div class="px-4 mx-auto max-w-screen-xl text-center py-24 lg:py-56">
    <h1
      class="mb-4 text-2xl font-bold md:font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl"
    >
      <span
        style="display: inline-block"
        data-aos="fade-up" data-aos-delay="200" data-aos-duration="600"
        >Pilihan Terbaik untuk Kebutuhan Anda</span
      >
      <span
        style="display: inline-block"
        data-aos="fade-up" data-aos-delay="400" data-aos-duration="600"
        >Produk berkualitas, mudah&nbsp</span
      ><span
        style="display: inline-block"
        data-aos="fade-up" data-aos-delay="600" data-aos-duration="600"
        >dan terpercaya.</span
      >
    </h1>
    <p
      class="mb-8 text-md font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48"
      data-aos="fade-up" data-aos-delay="800" data-aos-duration="600"
    >
      <span
        style="display: inline-block"
      >
        Temukan produk pilihan untuk setiap kebutuhan.
      </span>
    </p>
    <div
      class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0"
            data-aos="fade-up" data-aos-delay="1000" data-aos-duration="600"

    >
      <a
        href="/product"
        class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900"
      >
        Lihat Produk
        <svg
          class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"
          />
        </svg>
      </a>
    </div>
  </div>
</section>
