@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

:root {
  --primary: #e68bbe;
  --secondary: #1a1a1a;
  --third: #eea1cd;
  --four: #f4b8da;
  --five: #fff2f9;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-third {
  background-color: var(--third);
}

.text-third {
  color: var(--third);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.league-spartan-bold {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
